

<div class="row">
  <div class="col-md-9">
    <%= image_tag(@channel.picture_url, width: '25%') if @channel.picture.present? %>
  </div>

  <div class="col-md-3">
    <p><b>Name: </b><%= @channel.name %></p>
    <p>
      <%= link_to 'Edit', edit_channel_path(@channel) %> |
      <%= link_to 'Destroy', @channel, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', channels_path %>
    </p>
  </div>
</div>
