<p id="notice"><%= notice %></p>


<p>
  <h2><%= @channel.name %></h2>
  <%= image_tag(@channel.picture_url, width: '25%') if @channel.picture.present? %>
</p>

<%= render partial: 'comments/form', locals: { comment: @comment } %>

<h4> Latest Comments </h3>
<%# All the new (async) messages will appear here via the script below. When you refresh they will then appear in the Old Comments section  %>
<div id="comments"></div>


<h4>Old Comments</h3>
<% @comments.each do |comment| %>
  <p><%= comment.body %></p>
<% end %>


<script>
    $(document).ready(function(){
        console.log("REady");

        var $pubnub = new PubNub({
            publishKey : "pub-c-358f55e6-9c8e-4467-b79f-c647a10746a9",
            subscribeKey :  "sub-c-023a0afe-6f72-11eb-889a-ee4206f2a398"
        })

        var article_id = "comments-" + window.location.pathname.split("/")[2];
        console.log(article_id);
        $pubnub.subscribe({
            channels: [article_id]
        });
        $pubnub.addListener({
            message: function(message) {
                console.log(message);
                console.log(message.message["comment"]);
                $("#comments").append("<div class=\"comment\"><p>" + message.message["comment"] + "</p></div>")
            }
        })
        $("#new_comment").bind("ajax:complete", function(event,xhr,status){
            $('#comment_content').val('');
        });
        $('.actions input').keypress(function (e) {
            if (e.which == 13) {
                $('form#new_comment').submit();
                return false;
            }
        });
    });
</script>
